<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugar Rush Soda Shop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link href="/open-iconic/font/css/open-iconic.css" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <style>
        .custom-bg {
            background-color: #cccc;
        }
    </style>
</head>

<!-- navigation bar code BEGINS -->

<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="image is-128x128 pt-3 px-2">
                <img src="images/Logo2.png" alt="Sugar Rush Soda Shop Logo">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="#home">Home</a>
                <a class="navbar-item" href="#menu">Menu</a>
                <a class="navbar-item" href="#contact-us">Contact Us</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light" href="/login">
                            <strong>Sign Up/Log In</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- navigation bar code ENDS -->
    <main>
        {{{ body }}}
    </main>

    <!-- code for footer BEGINS -->
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    ❤️ Made with love by JL, RC, & SG for <strong>Sugar Rush Soda Shop</strong>.
                </p>
            </div>
        </footer>
        <!-- code for footer ENDS -->
        
</body>

</html>


    