

<!-- navigation bar code BEGINS -->

<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="image is-128x128 pt-3 px-2">
                <img src="images/Logo2.png" alt="Sugar Rush Soda Shop Logo">
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" onclick="location.href='/'">Home</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light" type="click" id="logout">
                            <strong>Log Out</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="hero mt-6">
        <div class="hero-body">
            <p class="title has-text-centered has-text-weight-bold is-underlined">
                Available Drink Choices
            </p>
            <div class="buttons are-medium is-centered columns mt-4">

                <button class="button is-link is-rounded column is-one-quarter" value="Coke" onclick="showDrinks(value)">Coke</button>
                <button class="button is-link is-rounded column is-one-quarter" value="Diet Coke" onclick="showDrinks(value)">Diet Coke</button>
                <button class="button is-link is-rounded column is-one-quarter" value="Coke Zero" onclick="showDrinks(value)">Coke Zero</button>
                <button class="button is-link is-rounded column is-one-quarter" value="Pepsi" onclick="showDrinks(value)">Pepsi</button>
                <button class="button is-link is-rounded column is-one-quarter" value="Diet Pepsi" onclick="showDrinks(value)">Diet Pepsi</button>
                <button class="button is-link is-rounded column is-one-quarter" value="Dr. Pepper" onclick="showDrinks(value)">Dr. Pepper</button>
                <button class="button is-link is-rounded column is-one-quarter" value="Diet Dr. Pepper" onclick="showDrinks(value)">Diet Dr. Pepper</button>
                <button class="button is-link is-rounded column is-one-quarter" value="Mountain Dew" onclick="showDrinks(value)">Mtn Dew</button>
                <button class="button is-link is-rounded column is-one-quarter" value="Diet Mountain Dew" onclick="showDrinks(value)">Diet Mtn Dew</button>
                <button class="button is-link is-rounded column is-one-quarter" value="Sprite" onclick="showDrinks(value)">Sprite</button>
                <button class="button is-link is-rounded column is-one-quarter" value="Sprite Zero" onclick="showDrinks(value)">Sprite Zero</button>
                <button class="button is-link is-rounded column is-one-quarter" value="7Up" onclick="showDrinks(value)">7UP</button>
                <button class="button is-link is-rounded column is-one-quarter" value="Lemonade" onclick="showDrinks(value)">Lemonade</button>
                <button class="button is-link is-rounded column is-one-quarter" value="Monster" onclick="showDrinks(value)">Monster</button>
                <button class="button is-link is-rounded column is-one-quarter" value="Redbull" onclick="showDrinks(value)"> Redbull</button>
                <button class="button is-link is-rounded column is-one-quarter" value="Rockstar" onclick="showDrinks(value)">Rockstar</button>
                <button class="button is-link is-rounded column is-one-quarter" value="Kids" onclick="showDrinks(value)">Kids</button>

            </div>
        </div>
    </section>

    <section class="section">
        <h1 class="title has-text-centered has-text-weight-bold">Available Drinks</h1>
        <h2 class="subtitle"></h2>
        <div class="columns">
            <div class="card column">
                {{#each drinks}}
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4" id="container-text">{{ this.drink_name }}</p>
                        </div>
                            
                    </div>
                      <div class="content" id="add-ins">
                     
                        <p>Ingredients</p>
                        <ul>
                            <li>{{ this.add_ins }}</li>
                        </ul>
                        
                         
                        <button type="submit" id="favorite" class="button"><span class="oi oi-heart"></span></button>
                    </div>
                </div>
                {{/each}}
            </div>
    </section>

        <section class="section is-medium">
        <h1 class="title has-text-centered has-text-weight-bold">Your Favorites</h1>
        {{#each favs}}
        <h2 class="subtitle">
            <li>
                {{ favs.drink_name }}
                </li>
        </h2>
        {{/each}}
    </section>
    

    <script src="/javascript/drinks.js"></script>
    <script src="/javascript/logout.js"></script>

</body>