  <section class="section is-medium columns" id="login-form">
    <h2 class="subtitle column">
      <div class="container is-max-desktop mt-6 pt-6">
        <h1 class="title">Log In</h1>
        <div class="notification">

          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" id="email-login" type="email" placeholder="Email">
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <p class="control">
              <input class="input" is="password-login" type="password" placeholder="Password">
            </p>
          </div>

          <div class="field">
            <p class="control">
              <button class="button" type="submit">
                Login
              </button>
            </p>
          </div>
        </div>
      </div>
    </h2>
    

    <h2 class="subtitle column" id="signup-form">
      <div class="container is-max-desktop mt-6 pt-6">
        <h1 class="title">Sign Up</h1>
        <div class="notification">

          <label class="label">How often do you visit Sugar Rush?</label>
          <div class="field has-addons">
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select name="Frequency Visited">
                  <option value="1-2">1-2 Times a week!</option>
                  <option value="3-4">3-4 Times a week!</option>
                  <option value="5-6">5-6 Times a week!</option>
                  <option value="7-8">7-8 Times a week !</option>
                  <option value="9-10">9-10 Times a week!</option>
                  <option value="11+">11+ Times a week!</option>
                </select>
              </div>
            </div>
            <div class="control">
              <button type="submit" class="button is-primary">Choose</button>
            </div>
          </div>

          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" id="name-signup" type="text" placeholder="Text">
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" id="email-signup" type="email" placeholder="Email">
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" id="password-signup" type="password" placeholder="Password">
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" type="submit">Submit</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancel</button>
            </div>
          </div>

        </div>
      </div>
    </h2>
  </section>