/* manual overrides for BULMA BEGINS*/
.section {
    padding: 1.5rem !important; /* overrode default BULMA padding */
}

/* Homepage Styling BEGINS*/
/* styles for navigation bar BEGINS*/
.navbar {
    background: #7bf3f3 !important;
}
/* styles for navigation bar ENDS*/

/* styling for section headers BEGINS*/
.h2 {
    color: #7bf3f3;
    text-align: center;
}

.title {
    color: #717977 !important;
}
/* styling for section headers ENDS*/

/* styling for menu section boxes BEGINS*/
.menu-image {
   margin-left: 10rem !important;
   margin-right: 10rem !important;
}
/* styling for menu section boxes ENDS*/

/* styling for contact section boxes BEGINS*/
.box {
    background: #7bf3f3 !important;
}
/* styling for contact section boxes ENDS*/

/* styling for footer BEGINS*/
.footer{
    padding: 5rem 1.5rem;
}
/* styling for footer ENDS*/
/* Homepage Styling ENDS*/

/* Log In/Sign Up Page Styling BEGINS*/
/* styling for forms BEGINS*/
.notification {
    background: #7bf3f3 !important;
}
.button {
    background: #cccccc !important;
    color: #353a39 !important;
}
/* styling for forms ENDS*/
/* Log In/Sign Up Page Styling ENDS*/

/* Styling for Favorites Page BEGINS */
.media {
    color: #7bf3f3;
}
span.oi.oi-heart {
    color:#7bf3f3 !important;
}



/* Media query for widths up to 575px  */
/* @media screen and (max-width: 575px) {
    .hero.is-primary .subtitle {
        padding-top: 10px;
        font-size: 1.2rem;
    }
    .hero-body h1 {
        font-size: 2rem !important;
    }
    .title {
        font-size: 1.75rem;
    }
    .drink-list-item, .drink-menu-item, .eats-menu-item, .food-list-item {
        font-size: 18px;
    }
    input[type="text" i] {
        width: 80%;
        border-radius: .25rem;
        padding: 10px 5px;
    }
    li {
        padding: 7px 0;
    }
    #menu-drinks, #menu-eats {
        margin: 0 1rem;
    }
} */